---
- name: playbook_docker.yml - docker and stuff
  hosts: all
  become: yes

  tasks:
    - name: install docker and docker compose and ctop
      pacman:
        update_cache: yes
        name:
          - docker
          - docker-compose
          - ctop

    - name: enable and start docker.service
      systemd:
        name: docker
        enabled: yes
        state: started

    - name: add the user to docker group
      user:
        name: "{{ ansible_user }}"
        groups: docker
        append: yes

    - name: Create /etc/docker directory if it does not exist
      file:
        path: /etc/docker
        state: directory
        mode: '0755'

    - name: daemon.json, sets max logs size, and prevent docker network getting in to 192.168.0.0
      copy:
        dest: '/etc/docker/daemon.json'
        content: |
          {
            "log-driver": "json-file",
            "log-opts": {
              "max-size": "50m",
              "max-file": "5"
            },
            "default-address-pools": [
              {
                "base" : "172.16.0.0/12",
                "size" : 24
              }
            ]
          }

    - name: restart docker service
      systemd:
        name: docker
        state: restarted

    - name: add common commands to zsh history
      become: false
      blockinfile:
        path: "~{{ ansible_user }}/.zhistory"
        block: |
          docker compose up -d
          docker compose up -d --force-recreate
          docker compose down
          docker compose pull
          docker network create caddy_net
          docker exec -w /etc/caddy caddy caddy reload
          docker exec -w /etc/caddy caddy caddy fmt -overwrite
        create: yes
        mode: '0600'
        marker: "# {mark} playbook_docker added commands history"
